.portfolioContainer{
  height: 100vh;
  margin: auto;
}

/* main image css */
.secondPfImg {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.secondPfImg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 40px rgba(161, 30, 73, 0.8))
    drop-shadow(0 0 20px rgba(206, 56, 106, 0.5))
    drop-shadow(0 0 10px rgba(247, 110, 156, 0.4));
}

/* Butns Main css */
.btns button {
  padding: 5px 15px;
  outline: 0;
  border: 0;
  margin: 20px 30px;
  border-radius: 3px;
  transition: all 0.5s;
}
.btns button a {
  text-decoration: none;
  color: white;
}
.btns .hireme {
  background-color: #a11e49;
  color: white;
  border: 1px solid #a11e49;
}
.btns .hireme:hover {
  background-color: transparent;
  transform: scale(0.9);
  color: white;
  border: 1px solid white;
}
.btns .contactme {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btns .contactme:hover {
  background-color: #a11e49;
  color: white;
  border: 1px solid #a11e49;
  transform: scale(0.9);
}

/* responsive for main Image Illustration */
@media screen and (max-width: 768px) {
  .btns {
    display: flex;
    justify-content: space-evenly;
  }
  .btns button {
    padding: 5px 15px;
    margin: 0;
    justify-content: center;
  }
  .btns button a {
    padding: 5px 8px;
  }
  .btns .hireme {
    background-color: #a11e49;
    color: white;
    border: 1px solid #a11e49;
  }
  .btns .hireme:hover {
    background-color: transparent;
    transform: scale(0.9);
    color: white;
    border: 1px solid white;
  }
  .btns .contactme {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .btns .contactme:hover {
    background-color: #a11e49;
    color: white;
    border: 1px solid #a11e49;
    transform: scale(0.9);
  }
}

/* experience container */
.subcontainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.bottom-details h1 {
  font-size: 3vw;
}
.bottom-details {
  overflow-x: hidden; 
  overflow-y: auto; 
}
.hrLineBorder {
  display: none;
}

/* responsive for experience container */
@media screen and (max-width: 1100px) {
  .bottom-details h1 {
    font-size: 7vh;
  }
  .elements {
    margin: 30px 10px;
  }
  .hrLineBorder {
    display: block;
  }
  .experienceBorder {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .elements {
    justify-content: center;
  }
  .bottom-details h1 {
    font-size: 8vh;
  }
  .subcontainer {
    width: 100%;
    display: block;
    /* translate: scale(5); */
  }
  .hrLineBorder {
    display: block;
  }
  .experienceBorder {
    display: none;
  }
}

/* socials icons */
.iconsonly {
  display: flex;
  gap: 10px;
  margin: 20px 70px;
  cursor: pointer;
  /* justify-content: center; */
}

.iconsonly img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .iconsonly {
    justify-content: center;
  }
}

/* main text for all container css */

.mainTwoContainer {
  height: calc(100%-50px);
  margin: auto;
  align-items: center;
  display: flex;
  margin-top: 3rem;
}
.subContTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.secondPfTxt {
  align-items: center;
  margin: auto !important;
}
.secondPfTxt .hello {
  font-size: 2vw;
  margin-bottom: -10px;
}
.secondPfTxt .name {
  margin-bottom: 0;
  font-size: 6vw;
}
.secondPfTxt .quality {
  margin-bottom: 0;
  font-size: 1.3vw;
}
.secondPfTxt .para {
  margin-bottom: 0;
  font-size: 1vw;
}

.bottom-text {
  justify-content: space-evenly;
  /* margin-top: 50px; */
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: #000;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .mainTwoContainer {
    margin-top: 0px !important;
  }
  .secondPfTxt {
    align-items: center;
    margin: auto !important;
  }
  .secondPfTxt .hello {
    font-size: 2.5vh;
  }
  .secondPfTxt .name {
    font-size: 6.5vh;
  }
  .secondPfTxt .quality {
    font-size: 2.6vh;
  }
  .secondPfTxt .para {
    font-size: 2vh;
  }
}
