@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Calligraffitti&family=Changa:wght@200..800&family=Creepster&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Fredericka+the+Great&family=Libre+Barcode+39&family=Marcellus&family=Merienda:wght@300..900&family=Monoton&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&family=VT323&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #F7F7F7; */
  /* overflow: hidden; */
}

/* normal css classes */
.displayFlex{
  display: flex;
}



 /* fontFamily */

.openSans{
  font-family: "Open Sans", sans-serif;
}
.raleway{
  font-family: "Raleway", sans-serif;
}
.bebasNeue{
  font-family: "Bebas Neue", sans-serif;
}
.calligraffitti{
  font-family: "Calligraffitti", cursive;
}
.notoSerifDisplay{
  font-family: "Noto Serif Display", serif;
}
.rajdhani{
  font-family: "Rajdhani", sans-serif;
}
.dmSerifDisplay{
  font-family: "DM Serif Display", serif;
}
.abrilFatface{
  font-family: "Abril Fatface", serif;
}
.marcellus{
  font-family: "Marcellus", serif;
}
.merienda{
  font-family: "Merienda", cursive;
}
.changa{
  font-family: "Changa", sans-serif;
}
.rubikDurt{
  font-family: "Rubik Dirt", system-ui;
}
.dmSerifText{
  font-family: "DM Serif Text", serif;
}
.barcode{
  font-family: "Libre Barcode 39", system-ui;
}
.creepster{
  font-family: "Creepster", system-ui;
}
.monoton{
  font-family: "Monoton", sans-serif;
}
.vt323{
  font-family: "VT323", monospace;
}
.frederickaTheGreat{
  font-family: "Fredericka the Great", serif;
}